/* Stock Section 1st login page */
:root {
  --color-body: #106EBE;
  --color-border: #4dffff;
  --color-hover: #0E4B88;
  --color-card: #ff9900;
  --table-line: #00ff00;
  
}
body {
  background: #fff;
  max-width: 100%;
  overflow-x: hidden;
}
#logo-img{
  width: 70px;
  height: auto;
}

/* Login Form Section */
.main-card{
  width: 360px;
  height: 480px;
  margin: auto;
  margin-top: 100px;
  border-radius: 20px;
  box-shadow: 2px 5px 8px black;
  background-color: #fff;
  border: 2px solid #1aa3ff;

}
#buttons1{
  background-color: #1aa3ff;
  color: white;
  width: 60%;
  height: 25px;
  line-height: 22px;
  font-size: 15px;
  border-radius: 4px;
  border-color: #1aa3ff;
}

/* Sidebar setup */
#side_nav{
  background-color: var(--color-body);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.2s;
  
}
.sidebar{
  position: fixed;
  float: left;
  width: 18%;
  height: 100vh;
}
#dropdown1, #dropdown2 #dropdown3 #dropdown4{
  /* background-color: #0E4B78; */
  background-color: #106EBE;
  color: white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-hover);
}

/* Sidebar Button Drop down list here, in which you click the button then more link showed */

/* Dropdown button */
.dropdown-btn {
  background-color: var(--color-body);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.dropdown-btn:hover {
  background-color: var(--color-hover);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Dropdown arrow icon */
.dropdown-btn::after {
  content: '\25BC'; /* Down arrow character */
  font-size: 16px;
  margin-left: 5px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  padding: 5px 0;
  /* background: #6dd0f1;   */
}

/* Dropdown content links */
.dropdown-content a {
  color: #fff;
  /* padding: 10px; */
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  display: block;
}

/* Dropdown content links on hover */
.dropdown-content a:hover {
  background-color: var(--color-hover);
}


/* It is Our contentplace */
.content{
  min-height: 100vh;
  max-width: 82%;
  position: relative;
  left: 252px;
  width: min-content;
  display: flex;
  flex-direction: column;
}
#board-circle{
  width: 130px;
  height: 130px;
  border: 1px solid black;
  border-radius: 50%;
  background: white;
  color: var(--color-hover);
  box-shadow: 3px 4px 4px 0px black;
}


.sidebar li a.active{
  background: var(--color-hover);
  border-radius: 2px;
  height: 35px;
  line-height: 35px;
}
.sidebar li a:hover {
  background: var(--color-hover);
  height: 35px;
  line-height: 35px;
  border-bottom: px solid var(--color-hover);
}

.sidebar li a{
  color: #fff;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px solid var(--color-hover);
  border-radius: 2px;
  width: 100%;
}

/* Sidebar SCroller Code */
.scrollable-table1 {
  width: 250px;
  height: 400px;
  padding-right: 10px;
  /* visibility: hidden; */
  overflow: auto;
}











/* Investor List Responsivnes */

/* These All media Query for page width */
@media (max-width: 1115px) {
  #side_nav{
      margin-left: -250px;
      position: fixed;
      min-height: 100vh;
      z-index: 1;
  }
  #side_nav.active{
      margin-left: 0;
  }
  .content{
      max-width: 100%;
  }
  .content.ms-1
  {
      left:0px;
  }
}
@media (max-width: 991px) {
  #side_nav{
      margin-left: -250px;
      position: fixed;
      min-height: 100vh;
      z-index: 1;
  }

  #side_nav.active{
      margin-left: 0;
  }
  .content{
      max-width: 100%;
  }
  .content.ms-1
  {
      left:0px;
  }
}

@media (max-width: 767px) {
  #side_nav{
      margin-left: -250px;
      position: fixed;
      min-height: 100vh;
      z-index: 1;
  }

  #side_nav.active{
      margin-left: 0;
  }
  #navb ul li{
      font-size: small;
  }
  .content{
      max-width: 100%;
  }
  .content.ms-1
  {
      left:0px;
  }
}



/* heading media Queries  */
/* media Query */
@media screen and (max-width: 768px) {

  body {
      font-size: 12px;
  }

  h1 {
      font-size: 19px;
  }
  
  h2 {
      font-size: 17px; 
  }
  
  h3 {
      font-size: 15px;
  }
  h4{
      font-size: 14px;
  }
  h5{
      font-size: 13px;
  }
}

/* Media query for even smaller screens */
@media screen and (max-width: 576px) {

  body {
      font-size: 12px;
  }

  h1 {
      font-size: 19px; 
  }
  
  h2 {
      font-size: 17px; 
  }
  
  h3 {
      font-size: 15px;
  }
  h4{
      font-size: 14px;
  }
  h5{
      font-size: 13px;
  }
}



